# Spotify Auth Cache
.cache

# macOS system files
.DS_Store

# Environment Variables (Secrets)
.env

# Python virtual environment (if yours is named .venv or .edm_venv)
.venv/
.edm_venv/
.edm/

# Python cache files
__pycache__/
*.pyc